
        body{font-family:Arial, Helvetica, sans-serif ;}
        a.nodec{text-decoration: none;}
        a:hover{text-decoration: underline; color: aquamarine;}
        li em{font-weight: bold; color: blueviolet; }
        h1, em{text-decoration: underline; color:chartreuse;}
        ul{margin-left: 20px;}
        ul ul{font-size: .8em;}
        P strong{font-size: 30px;color: red;}
